@model CategoryListVM

@{
	ViewData["Title"] = "Index";
}

<h2>Category List</h2>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
	New Category
</button>

<table class="table" id="myTable">
	<thead>
		<tr>


			<th>
				@Html.DisplayNameFor(model => model.CategoryList.CategoryName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model?.CategoryLists)
		{
			<tr>
				@*  <td>
                    @Html.DisplayFor(modelItem => item.CategoryListId)               
                </td> *@
				<td>
					@Html.DisplayFor(modelItem => item.CategoryName)
				</td>
				<td>
					<a class="btn btn-outline-info" onclick="EditForm(@item.CategoryListId)"
					   id="EditForm"><i class="fa-solid fa-info"></i>Edit</a>
					<a class="btn btn-outline-danger" onclick="Delete(@item.CategoryListId)"><i class="fa-solid fa-trash"></i>Delete</a>


				</td>
			</tr>
		}
	</tbody>
</table>

<form asp-action="Create">


	<!-- create new -->
	<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="createModalLabel">New Category</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="@Model.CategoryList.CategoryName" class="control-label"></label>
						<input asp-for="@Model.CategoryList.CategoryName" class="form-control" />
						<span asp-validation-for="@Model.CategoryList.CategoryName" class="text-danger"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save New Category</button>
				</div>
			</div>
		</div>
	</div>

</form>



<form asp-action="Update" id="EditForm" method="post">
	@* ekledik *@


	<!-- create new -->
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="editModalLabel">Edit Category</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<input class="categoryListId" type="hidden" asp-for="@Model.CategoryList.CategoryListId" />        @* hidden ekledik *@
						<label asp-for="@Model.CategoryList.CategoryName" class="control-label"></label>
						<input id="categoryName" asp-for="@Model.CategoryList.CategoryName" class="form-control" />
						<span asp-validation-for="@Model.CategoryList.CategoryName" class="text-danger"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save Category</button>
				</div>
			</div>
		</div>
	</div>

</form>




@section Scripts {
	<script>
				function Delete(deleteID) {

			Swal.fire({
				title: 'Are you sure you want to delete the category?',
				text: "You cant undo this ation.",
				icon: 'warning',
				showCancelButton: true,
				cancelButtonText: 'Cancel',
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes,Delete'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: "/CategoryLists/Delete/" + deleteID,
						type: 'POST',
						success: function (data) {
							location.reload();
						}
					})
				}
			})
		}
		var EditForm=function(categoryListId){
			$.ajax({
				type:"POST",
				url:"/CategoryLists/GetCategoryList",
				data: {categoryListId:categoryListId },
				success:function(categoryList){
					$("#editModal").modal('show');
					$("#categoryName").val(categoryList.categoryName);
					$(".categoryListId").val(categoryList.categoryListId)
				}

			})
		}


	</script>
}